@import "tailwindcss";

@theme {
  --animate-spin-slow: spinSlow 7.5s linear infinite;

  @keyframes spinSlow {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  } 
}
@utility animate-paused {
  animation-play-state: paused;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ad46ff;
  border-radius: 10px;
}
/* SCROLLBAR */

/* CENTER NOSCRIPT */
.noscript-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ad46ff;
  border-radius: 30px;
  color: #fff;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  border-radius: 0.5rem;
  z-index: 9999;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 0 10px #ad46ff50;
}
/* CENTER NOSCRIPT */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  cursor: none !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}